<section>
  <mat-card>
    <mat-card-content>
      <h3>Client Users</h3>
      <mat-divider></mat-divider>
      <div fxLayout="">
        <div fxFlex fxLayout="row" fxLayoutAlign="flex-end">
          <mat-form-field fxFlex="40%">
            <input matInput type="text" (keyup)="doFilter($event.target.value)" placeholder="Filter" />
          </mat-form-field>
          <ul fxLayout="row">
            <li>
              <button fxFlexAlign="end" color="primary" mat-icon-button type="button" matTooltip="Export to excel" id="createClient" (click)="exporter.exportTable('xlsx', { fileName:'client_users' })"><mat-icon>save_alt</mat-icon></button>
            </li>
          </ul>
        </div>
      </div>

      <table mat-table style="width:100%" [dataSource]="dataSource" matSort matTableExporter #exporter="matTableExporter" [hiddenColumns]="[0, 4]">
        <ng-container matColumnDef="index">
          <th mat-header-cell *matHeaderCellDef>No</th>
          <td mat-cell *matCellDef="let element;let i = index;">{{i + 1}}<span style="margin-left:20px;"></span></td>
        </ng-container>
        <ng-container matColumnDef="image">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Image</th>
          <td mat-cell *matCellDef="let element">
            <img id="detail_{{element.id}}" (click)="onDetailUser($event)" matTooltip="Client Details" *ngIf="element.portraitImage" alt="profile" src="/clientThumbnailPortraits/{{element.portraitImage}}" width="50" style="cursor:pointer; border-radius:50% " />
            <img id="detail_{{element.id}}" (click)="onDetailUser($event)" matTooltip="Client Details" *ngIf="!element.portraitImage && element.gender==='Male'" alt="profile" src="/user-icon.png" width="50" style="cursor: pointer; border-radius: 50%" />
            <img id="detail_{{element.id}}" (click)="onDetailUser($event)" matTooltip="Client Details" *ngIf="!element.portraitImage && element.gender==='Female'" alt="profile" src="/femaleavatar.png" width="50" style="cursor: pointer; border-radius: 50%" />
          </td>
        </ng-container>
        <ng-container matColumnDef="firstName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>First Name</th>
          <td mat-cell *matCellDef="let element">{{element.firstName }}</td>
        </ng-container>

        <ng-container matColumnDef="lastName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Last Name</th>
          <td mat-cell *matCellDef="let element">{{element.lastName }}</td>
        </ng-container>
        <ng-container matColumnDef="gender">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Gender</th>
          <td mat-cell *matCellDef="let element">{{element.gender }}</td>
        </ng-container>

        <ng-container matColumnDef="email">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Email</th>
          <td mat-cell *matCellDef="let element">{{element.email }}</td>
        </ng-container>


        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef>Action</th>
          <td mat-cell *matCellDef="let element">
            <button type="button"
                    matTooltip="Edit User Info"
                    name="editUser"
                    id="detail_{{element.id}}"
                    (click)="onEditUser($event)"
                    mat-icon-button
                    color="primary">
              <mat-icon>edit</mat-icon>
            </button>
            <button type="button"
                    matTooltip="Reset Password"
                    name="passwordChange"
                    id="user_{{element.id}}"
                    (click)="onChangePassword($event)"
                    mat-icon-button
                    class="btn">
              <mat-icon>key</mat-icon>
            </button>

            <button type="button"
                    matTooltip="Delete User Info"
                    name="btnDelUser"
                    id="delete_{{element.id}}"
                    (click)="onDeleteUser($event)"
                    mat-icon-button
                    color="warn">
              <mat-icon>delete</mat-icon>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
        <tr mat-row *matRowDef="let row;
           columns: displayedColumns;
           let i = index;
           let even = even;"
            [ngClass]="{ 'gray': even, 'highlight': selectedRowIndex == row.id}"
            (click)="highlight(row)">
        </tr>
      </table>

      <mat-paginator #paginator showFirstLastButtons
                     [pageSize]="10"
                     [pageSizeOptions]="[10, 20, 30, 40,50,100]">
      </mat-paginator>
      <button *ngIf="auth.isLoggedIn() && auth.isInRole(adminUserRole)" style="margin-top:15px" color="primary" mat-raised-button type="button" matTooltip="Add New User" id="createUser" (click)="onCreateClientUser()"><mat-icon>add</mat-icon>Add</button>
    </mat-card-content>
  </mat-card>
</section>

