<section>
  <div class="login-container" fxLayout="row wrap" fxFlex fxLayoutAlign="center">
    <mat-card>
      <h3 style="text-align: center">Forgot Password</h3>  <mat-divider></mat-divider>
      <mat-card-content>
        <br />
        <form style="margin:0 30px" fxLayoutGap="10px" [formGroup]="myForm" (ngSubmit)="onSubmit()">
          <div fxLayoutAlign="center" fxLayout="column">
            <div class="has-error" *ngIf="myForm.errors?.authError">
              {{myForm.errors.authError}}
            </div>
            <br />
            <mat-form-field>
              <input matInput type="email" placeholder="Email *"
                     formControlName="email" />
              <mat-hint>Please enter email address.</mat-hint>
              <mat-error><span *ngIf="errorHandling('email','required')">Email address is a required field.</span></mat-error>
              <mat-error><span *ngIf="errorHandling('email','email')">Email address is invalid.</span></mat-error>
              <mat-error><span *ngIf="errorHandling('email','maxlength')">Email address can not be more than 40 characters.</span></mat-error>
            </mat-form-field>
          </div>
          <br />
          <br />
          <div fxLayoutAlign="center" fxLayoutGap="10px" fxLayout="row wrap">
            <button mat-raised-button type="submit" color="primary" [disabled]="myForm.invalid"><mat-icon>send</mat-icon>Submit</button>
          </div>
        </form><br />
      </mat-card-content>
    </mat-card>
  </div>
</section>

