<section> 
  <mat-card>
    <h4>Client's Scheduled Exams</h4>
    <mat-divider></mat-divider>
    <mat-card-content>
      <br />
      <div *ngIf="exams.length === 0">
        <h1 style="text-align:center">There is no scheduled exam at the moment</h1>
      </div>
      <div fxLayout="row wrap" fxLayout.xs="column" fxLayoutAlign="space-between">
        <div *ngFor="let exam of exams">
          <app-display-exams [examData]="exam"></app-display-exams>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</section>
