mat-icon {
}

ul li {
  list-style: none;
}

.gray {
  background-color: #f5f5f5
}

.plotFormatter {
  display: flex;
}

mat-card {
  margin: 0px 0px 30px 0px;
}

.highlight {
  background: rgba(184, 187, 221, 0.46);
}

.mat-accent {
  background: red;
}
