<mat-card class="mat-custom">
  <div style="text-align: center; background-color: lightblue; padding: 5px 0">
    <h1>Exam: {{examData.name}}</h1>
  </div> <mat-divider></mat-divider><br />
      <mat-card-content>
        <table border="0" style="width:100%;border-spacing: 0; border-color: #ffffff;">
          <tr *ngIf="examData.hasBeenTaken">
            <td><p>Pass Status :</p></td>
            <td><p class="btn"><b>{{examData.passStatus}}</b></p></td>
          </tr>
          <tr *ngIf="examData.hasBeenTaken">
            <td><p>Percentage Score :</p></td>
            <td><p class="btn"><b>{{examData.score}}%</b></p></td>
          </tr>
          <tr>
            <td><p>Date Scheduled:</p></td>
            <td><p class="btn"><b>{{examData.scheduledDate | date}}</b></p></td>
          </tr>

          <tr>
            <td><p>Exam Time :</p></td>
            <td><p class="btn"><b>{{examData.examTime}}</b></p></td>
          </tr>

          <tr>
            <td><p>Date Added :</p></td>
            <td><p class="btn"><b>{{examData.dateAdded | date}}</b></p></td>
          </tr>

          <tr *ngIf="examData.hasBeenTaken">
            <td><p>Date Taken :</p></td>
            <td><p class="btn"><b>{{examData.dateTaken | date}}</b></p></td>
          </tr>

          <tr>
            <td><p>Duration :</p></td>
            <td><p class="btn"><b>{{examData.duration / 60}} Mins</b></p></td>
          </tr>

          <tr *ngIf="examData.hasBeenTaken">
            <td><p>Date Taken :</p></td>
            <td><p class="btn"><b>{{examData.timeTakenToWrite}}</b></p></td>
          </tr>

          <tr>
            <td><p>Number of Questions:</p></td>
            <td><p class="btn"><b>{{examData.numberOfQuestions}}</b></p></td>
          </tr>
          <tr>
            <td><p>Pass Mark:</p></td>
            <td><p class="btn"><b>{{examData.passMarkPercentage}}%</b></p></td>
          </tr>
        </table>    
      </mat-card-content>
      <div align="center">
        <button *ngIf="!examData.isActivated" matTooltip="Activate Exam" style="margin-left:10px" mat-raised-button id="button_{{examData.id}}" color="primary" (click)="onActivate($event)"><mat-icon>done</mat-icon>Activate</button>
        <button matTooltip="Cancel Exam" style="margin-left:10px" mat-raised-button id="button_{{examData.id}}" color="default" (click)="onCancel($event)"><mat-icon>close</mat-icon>Cancel</button>
      </div>
</mat-card>
