<section>
  <div class="login-container" fxLayout="row wrap" fxFlex fxLayoutAlign="center">
    <mat-card>
      <h3 style="text-align: center">Reset Password</h3>  <mat-divider></mat-divider>
      <mat-card-content>
        <br />
        <form style="margin:0 30px" fxLayoutGap="10px" [formGroup]="myForm" (ngSubmit)="onSubmit()">
          <div fxLayoutAlign="center" fxLayout="column">
            <div class="has-error" *ngIf="myForm.errors?.authError">
              {{myForm.errors.authError}}
            </div>
            <br />
            <input matInput hidden type="text" formControlName="token" />
            <mat-error><span *ngIf="errorHandling('token','required')">Token is a can not be empty.</span></mat-error>


            <input matInput hidden type="email" formControlName="email" />
            <mat-error><span *ngIf="errorHandling('email','required')">Email address can not be empty.</span></mat-error>


            <mat-form-field>
              <input matInput [type]="hide ? 'password': 'text'" placeholder="New Password *"
                     formControlName="newPassword" />
              <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
              <mat-hint>Please enter New Password.</mat-hint>
              <mat-error><span *ngIf="errorHandling('newPassword','required')">New Password is a required field.</span></mat-error>
              <mat-error><span *ngIf="errorHandling('newPassword','minlength')">New Password can not be less than 8 characters.</span></mat-error>
              <mat-error><span *ngIf="errorHandling('newPassword','maxlength')">New Password can not be more than 40 characters.</span></mat-error>
            </mat-form-field>


            <mat-form-field>
              <input matInput [type]="hide ? 'password': 'text'" placeholder="Confirm New Password *"
                     formControlName="passwordConfirm" />
              <mat-hint>Please repeat and confirm new password.</mat-hint>
              <mat-error><span *ngIf="errorHandling('passwordConfirm','required')">New Password is a required field.</span></mat-error>
              <mat-error><span *ngIf="hasMismatchError('passwordConfirm')">Password and confirmed password do not match.</span></mat-error>
            </mat-form-field>
          </div>
          <br />
          <br />
          <div fxLayoutAlign="center" fxLayoutGap="10px" fxLayout="row wrap">
            <button mat-raised-button type="submit" color="primary" [disabled]="myForm.invalid"><mat-icon>autorenew</mat-icon>Reset</button>
          </div>
        </form><br />
      </mat-card-content>
    </mat-card>
  </div>
</section>

