
@media screen and (max-width:600px) {
  .login-container {
    width: 200px;
    margin-bottom: 30px;
  }

  .mat-form-field {
    width: 180px;
  }
}

/*If screen size is more than 600px wide,*/
@media screen and (min-width: 600px) {
  .login-container {
    width: 25%;
    margin-bottom: 30px;
  }

  .mat-form-field {
    width: 250px;
  }
}

.login-img {
  width: 96px;
  height: 96px;
  margin: 0 auto 10px;
  display: block;
  border-radius: 50%;
}

mat-card {
  margin: 30px 0px;
  //border-radius: 30px;
}

.login-form {
  justify-content: center;
}

.form-inputs {
  display: flex;
}

.has-error {
  color: red;
  font-weight: bold;
  text-align: center;
  padding: 10px;
}
